[submodule "lib/NTPClient"]
	path = lib/NTPClient
	url = https://github.com/stelgenhof/NTPClient.git
[submodule "lib/Arduino"]
	path = lib/Arduino
	url = https://github.com/esp8266/Arduino.git
[submodule "lib/Time"]
	path = lib/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "lib/PubSubClient"]
	path = lib/PubSubClient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "lib/blynk-library"]
	path = lib/blynk-library
	url = https://github.com/blynkkk/blynk-library.git
[submodule "lib/DTH11"]
	path = lib/DTH11
	url = https://github.com/adidax/dht11.git
[submodule "lib/DHT-sensor-library"]
	path = lib/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "lib/PietteTech_DHT-8266"]
	path = lib/PietteTech_DHT-8266
	url = https://github.com/chaeplin/PietteTech_DHT-8266.git
